name: pnpm-verify
on:
  workflow_call:
    inputs:
      os:
        type: string
        required: false
        default: '["ubuntu-latest", "macos-latest", "windows-latest"]'
      node-version:
        type: string
        required: false
        default: '[18, 20]'
      pnpm-version:
        type: string
        required: false
        default: 8.15.3
      codecov-flags:
        type: string
        required: false
jobs:
  verify:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: ${{ fromJson(inputs.os) }}
        node-version: ${{ fromJson(inputs.node-version) }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: ${{ inputs.pnpm-version }}
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: pnpm

      - name: Cache Playwright Browsers
        uses: actions/cache@v3
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-playwright-

      - name: Install playwright browsers
        run: pnpx playwright install --with-deps chromium

      - name: Install Dependencies
        run: pnpm install

      - name: Verify
        run: |
          if [ "${{ matrix.os }}" == "ubuntu-latest" ]; then
            xvfb-run -a pnpm verify
          else
            pnpm verify
          fi

      - name: Archive snapshots/linux
        if: matrix.node-version == 20 && always() && failure()
        uses: actions/upload-artifact@v4
        with:
          name: snapshots
          path: '**/__snapshots__/{linux,darwin,win32}'
      - name: codecov
        if: matrix.os == 'ubuntu-latest' && matrix.node-version == 20
        uses: codecov/codecov-action@v4
        with:
          flags: ${{ inputs.codecov-flags }}
